<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WSAA Project</title>
<link rel="stylesheet" href="/static/styles.css">
<script type="text/javascript" src="/static/static.js"></script>

</head>
    <body>

        <h1>WSAA Data Search</h1>
            <h2>Department Contacts</h2>
                <p>Search and Add Contacts to the Department phonebook</p>

            <h2>Details for Add Contacts Required:</h2>
                <ul>
                    <li>CID</li>
                    <li>First Name</li>
                    <li>Last Name</li>
                    <li>Department</li>
                    <li>Phone Number</li>
                </ul>

        <!-- Add Person Form -->
            <h2>Add Person</h2>
                <form id="addPersonForm">
                    <label for="cid">CID</label>
                    <input type="text" id="cid" name="cid" required><br>
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" required><br>
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" required><br>
                    <label for="department">Department</label>
                    <input type="text" id="department" name="department" required><br>
                    <label for="phoneNum">Phone number</label>
                    <input type="tel" id="telNum" name="phoneNum" required>
                    <button type="submit">Add Person</button>
                </form>
        <!-- Edit Selected Contact -->
                <h1>Edit Contact</h1>
                    <form action="" method="post">
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" value="{{ contact.firstName }}" required><br>
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" value="{{ contact.lastName }}" required><br>
                        <label for="department">Department:</label>
                        <input type="text" id="department" name="department" value="{{ contact.department }}" required><br>
                        <label for="tel_num">Phone Number:</label>
                        <input type="tel" id="tel_num" name="tel_num" value="{{ contact.telNum }}" required><br>
                        <button type="submit">Save Changes</button>
                    </form>

        <!-- Search Contacts Form -->
            <h2>Search Contacts</h2>
                <form id="searchForm">
                    <label for="search">Search:</label>
                    <input type="text" id="search" name="search" placeholder="Find person">
                    <button type="submit">Search</button>
                </form>
        
        <div id="searchResults">
            <!-- Search results will be displayed here -->
            <ul id="personResults"></ul>
            <!--button clears results and search input box-->
            <button id="clearResultsBtn">Clear Results</button>
        </div>
        
    </body>
</html>
